{% extends "bootstrap/base.html" %}

{% block content %}

<div class="container my-5">

<section class="jumbotron p-5 mb-4 text-center bg-light">
<h1>My Blog</h1>
</section>

<section class="text-right mb-3">
<a href="/create" class="btn btn-primary">
    <i class="fas fa-plus"></i> New Post
</a>
<a href="/logout" class="btn btn-secondary">
    Logout
</a>
</section>

{% for post in posts %}

<article class="card mb-4 shadow-sm">

<div class="card-header"><h4 class="card-title">{{ post.title }}</h4>
    <p class="card-subtitle">
        Posted by {{ post.user.username }} on {{ post.created_at }} 
    </p>

<h4 class="card-title">{{ post.title }}</h4>
<cite class="card-subtitle text-muted mb-2">
    Posted on {{ post.created_at }}
</cite>
</div>

<div class="card-body">
<p class="card-text">
    {{ post.body | truncate(100) }}
</p>

<a href="/{{ post.id }}/detail" class="btn btn-primary">
    Read More <i class="fas fa-angle-right"></i>
</a>

</div>



</article>
{% endfor %}

</div>

{% endblock %}